@import "~assets/styles/libs/vars";

.classItem {
  padding: 0.5rem 2rem;
  border-bottom: 1.5px solid #a19ea5;
  position: relative;
  p {
    margin: 0;
  }
  .info {
  }
  .classTimes {
    span {
      font-size: 0.9rem;
      &:not(:last-child) {
        position: relative;
        //   border-left: 1px solid $mainTextColor;
        padding-left: 5px;
        margin-left: 5px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1.5px;
          height: 60%;
          margin: auto 0;
          background-color: $mainTextColor;
        }
      }
    }
  }
  .pickClass {
    position: absolute;
    left: 17.5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: none;
    border: 1.5px solid $basicOrange;
    height: 30px;
    cursor: pointer;
    @media screen and(hover:hover) {
      &:hover {
        transition: background-color 0.2s linear;
        border: none;
        background-color: $basicOrange;
        color: white;
      }
    }
  }
  .collisionError {
    color: #e51f1f;
  }
}
