@import "../../assets/styles/libs/vars";
@import "../../assets/styles/libs/placeholders";
.loginForm {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $backgroundColor;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    button {
      @extend %buttonGradientColor;
    }
  }
  @extend %inputStyles;
  input {
    &:first-of-type {
      margin-left: 20px;
    }
  }
}
