@import "../../assets/styles/libs/vars";
@import "../../assets/styles/libs/placeholders";
.welcome {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $backgroundColor;
  user-select: none;
  figure + * {
    flex-grow: 1;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem 0 2rem 0;
    img {
      width: 135px;
      height: auto;
    }
    figcaption {
      width: 100%;
      font-size: 1.2rem;
      h1 {
        font-weight: 500;
        font-size: 1.7rem;
        margin-bottom: 0;
      }
      color: $basicGray;
    }
  }
}
.navLink {
  display: flex;
  //   flex-direction: row-reverse;
  a:last-of-type {
    margin-right: 1.5rem;
  }
  a {
    height: 57px;
    width: 230px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 1.1rem;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    @media screen and(hover:hover) {
      &:hover {
        text-decoration: none;
      }
    }
    span {
      font-weight: 500;
      font-size: 1.5rem;
    }
    embed {
      width: 30px;
      height: auto;
    }
  }
  .logIn {
    @extend %normalBoxShadow;
    border-top-right-radius: $buttonBorderRadius;
    border-bottom-left-radius: $buttonBorderRadius;
    justify-content: flex-end;
    @media screen and(hover:hover) {
      &:hover {
        border: 1px solid rgb(51, 50, 50);
      }
    }
    embed {
      margin-right: 12px;
    }
    .loginIcon {
      background: url("/assets/images/loginicon.svg");
      width: 50px;
      height: 50px;
    }
  }
  .signUp {
    @extend %normalBoxShadow--orange;
    border-top-left-radius: $buttonBorderRadius;
    border-bottom-right-radius: $buttonBorderRadius;
    justify-content: flex-start;
    @media screen and(hover:hover) {
      &:hover {
        border: 1px solid $basicOrange;
        text-decoration: none;
      }
    }
    embed {
      margin-left: 12px;
    }
    .signupIcon {
      background: url("/assets/images/registericon.svg");
      width: 50px;
      height: 50px;
    }
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
