@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/placeholders";
@import "~assets/styles/libs/animations";

.welcome {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $backgroundColor;
  user-select: none;
  // figure + * {
  //   // flex-grow: 1;
  // }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin: 4rem 0 2rem 0;
    img {
      width: 100%;
      max-width: 125px;
      height: auto;
    }
    figcaption {
      width: 100%;
      font-size: 1.2rem;
      h1 {
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 0;
      }
      color: $basicGray;
    }
    @media screen and(max-width:560px) {
      img {
        max-width: 100px;
      }
      figcaption {
        font-size: 1rem;
      }
    }
    @media screen and(max-width:415px) {
      figcaption {
        font-size: 0.8rem;
      }
    }
    @media screen and(max-width:360px) {
      figcaption {
        font-size: 0.7rem;
      }
    }
  }
}
