@import "~assets/styles/libs/vars";

.mainDiv{
    width: fit-content;
    max-width: 250px;
    padding: 15px;
    height: fit-content;
    color: $silver;
    background-color: white;
    border-radius: 20px;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;
    .value{
        color: $basicOrange;
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}