@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/placeholders";
@import "~assets/styles/libs/animations";

.navLink {
  display: flex;
  background: $backgroundColor;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  //   flex-direction: row-reverse;
  a:last-of-type {
    margin-right: 0.8rem;
  }
  a {
    height: 57px;
    width: 230px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 1.1rem;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    // border: 1px solid $basicOrange;
    @extend %normalBoxShadow--orange;
    filter: grayscale(100%);
    span {
      font-weight: 500;
      font-size: 1.3em;
    }
    embed {
      width: 30px;
      height: auto;
    }
    @media screen and(hover:hover) {
      &:hover {
        text-decoration: none;
        border: 1px solid $basicOrange;
      }
    }
  }
  .logIn {
    // @extend %normalBoxShadow;
    border-top-right-radius: $buttonBorderRadius;
    border-bottom-left-radius: $buttonBorderRadius;
    justify-content: flex-end;

    embed {
      margin-right: 12px;
    }
    .loginIcon {
      background: url("/assets/images/loginicon.svg");
      width: 50px;
      height: 50px;
    }
  }
  .signUp {
    // @extend %normalBoxShadow;
    border-top-left-radius: $buttonBorderRadius;
    border-bottom-right-radius: $buttonBorderRadius;
    justify-content: flex-start;

    embed {
      margin-left: 12px;
    }
    .signupIcon {
      background: url("/assets/images/registericon.svg");
      width: 50px;
      height: 50px;
    }
  }

  @media screen and (max-width: 560px) {
    a {
      height: 47px;
      width: 182px;
      font-size: 0.9rem;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  @media screen and (max-width: 415px) {
    a {
      width: 170px;
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 390px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a:last-of-type {
      margin: 1rem 0 0 0;
    }
    a {
      border-radius: $buttonBorderRadius;
    }
  }
  .active {
    filter: grayscale(0);
  }
}
