@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/mixins";
@import "~assets/styles/libs/placeholders";
@import "~assets/styles/base/base";
@import "~assets/styles/base/fonts";

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  * {
    box-sizing: border-box;
  }
}

.container {
  padding: 3rem 2rem;
}
