@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/animations";

.navBar {
  background-blend-mode: screen;
  background-color: #d2d2d2;
  background-image: url(/assets/images/unnamed.jpg);
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: $buttonBorderRadius;
  border-bottom-right-radius: $buttonBorderRadius;
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 25px;

  @media screen and(max-width:1240px) {
    justify-content: flex-start;
  }

  @media screen and(max-width:450px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .logo img {
    position: absolute;
    top: -85px;
    right: 0;
    height: 100px;
    width: auto;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonContainer {
    position: absolute;
    right: 120px;
    display: flex;
    z-index: 2;

    button,
    span {
      float: right;
      i {
        color: $basicGray;
        font-size: 20px;
        margin-left: 5px;
        transition: 0.2s;
      }
      &:hover {
        i {
          color: $basicOrange;
        }
      }
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      &:first-of-type {
        margin-left: 15px;
      }
      .circle {
        display: inline-block;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #4d4d4d;
        border: 3px solid #262626;
        transition: background 0.1s linear;
      }

      @media screen and(hover:hover) {
        &:hover {
          .circle {
            background-color: white;
          }
        }
      }
      @media screen and(max-width:450px) {
        justify-content: flex-end;
        margin-bottom: 0.5em;
      }
    }
    @media screen and(max-width:450px) {
      position: initial;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .linkContainer {
    overflow: hidden;
    display: flex;
    transition: height 0.5s ease-in-out;
    @media screen and (max-width: 1240) {
      & {
        margin-right: 70px;
        text-align: right;
      }
    }
    /* a {
      margin-left: 2.5em;
      &:hover {
        text-decoration: none;
      }
      @media screen and(hover:hover) {
        &:hover {
          color: rgb(114, 114, 114);
        }
      }
      &:last-child {
        margin-left: 0;
      }
    } 
    @media screen and(max-width:850px) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 2em;
      a {
        margin: 0 0 0.5em 0;
      }
    }
    @media screen and(max-width:450px) {
      margin-left: 0;
    }
    @media screen and(min-width:450px) {
      align-self: flex-start;
    }
  }
  .closed {
    @media screen and(max-width:850px) {
      height: 0;
    }
  }
  .open {
    @media screen and(max-width:850px) {
      height: 131.2px;
    }*/
  }

  .toggleButton {
    border: none;
    background: none;
    font-size: 1.7rem;
    position: absolute;
    cursor: pointer;
    left: 1rem;
    i {
      display: flex;
    }
    @media screen and(min-width:851px) {
      display: none;
    }
  }
  .avatar {
    border-radius: 100%;
  }
  .nodisplay {
    //display: none !important;
    opacity: 0;
  }
  .openGroup {
    transition: 0.5s;
    background: #fffcf8;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -7px;
    min-width: 180px;
    right: 70px;
    &::before {
      content: "";
      width: 1px;
      border: 10px solid transparent;
      border-left: 10px solid #fffcf8;
      height: 1px;
      position: absolute;
      top: 30px;
      right: -20px;
    }
  }
}
.pageTitle {
  h1 {
    background-blend-mode: soft-light;
    background-color: #e3e5dca1;
    margin: 0 10px;
    padding: 5px 40px;
    border-radius: 5px;
  }
}
