@import "~assets/styles/libs/animations";

.navBar-appear {
  height: 0;
}
.navBar-appear.navBar-appear-active {
  animation: dropDown 0.6s ease-in-out;
}
.navBar-enter {
  height: 0;
}
.navBar-enter.navBar-enter-active {
  animation: dropDown 0.6s ease-in-out;
}

.navBar-leave {
  height: 131.2px;
}

.navBar-leave.navBar-leave-active {
  animation: rollUp 0.6s ease-in-out;
}
