@import "../../assets/styles/libs/vars";
@import "../../assets/styles/libs/placeholders";
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  @extend %inputStyles;

  button {
    @extend %buttonGradientColor;
  }
  div {
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-template-rows:
    //   auto
    //   auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }
}
